/* ------------------------------------------------------------------------
	This you can edit.
------------------------------------------------------------------------- */

	/* ----------------------------------
		Default Theme
	----------------------------------- */
	
	div.pp_default .pp_content {
		background: #fff;
		border: 1px #616671 solid;
		overflow: hidden;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}


/* ------------------------------------------------------------------------
	DO NOT CHANGE
------------------------------------------------------------------------- */

	div.pp_container a:focus { outline:none; }

	div.pp_overlay {
		background: #000;
		display: none;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 9500;
	}
	
	div.pp_container {
		display: none;
		left: 50%;
		position: fixed;
		top: 50%;
		z-index: 10000;
	}
		
		.pp_fade { display: none; }
		
		#pp_mediaContainer { height: 40px; overflow: hidden; width: 40px; border-radius:3px; }
		
		.pp_content {
			position: relative;
		}

			.pp_header { 
				background: #fcfcfc -webkit-linear-gradient(#fcfcfc,#dfe2e8);
				border-bottom: 1px #b4b8c2 solid;
				border-top-right-radius:4px;
				border-top-left-radius:4px;
				color: #606878;
				font-weight: bold;
				left: 0;
				min-width: 100%;
				padding: 12px 5px 9px 15px;
				position: absolute;
				text-shadow: 1px 1px #fff;
				top: 0;
				z-index: 10;
				
				-webkit-box-sizing: border-box;
				     -moz-box-sizing: border-box;
				          box-sizing: border-box;
			}
			
				.pp_header .pp_close {
					background: green;
					border-radius: 10px;
					color: #fff;
					display: block;
					float: left;
					margin: 0 5px 0 0;
					padding: 2px;
					text-decoration: none;
				}

			.pp_nav {
				background: rgba(0,0,0,0.3) -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(34,34,34,0.7))) left 15px;
				border: 1px rgba(34,34,34,0.7) solid;
				border-radius: 5px;
				bottom: 30px;
				box-shadow: 0 0 2px rgba(0,0,0,0.6);
				color: #fff;
				left: 50%;
				margin-left: -37%;
				position: absolute;
				width: 75%;
			}
		
				.pp_nav p {
					float: left;
					font-size: 14px;
					line-height: 30px;
					overflow: hidden;
					padding: 0 10px;
					text-overflow: ellipsis;
					text-shadow: 1px 1px 1px #333;
					max-width: 70%;
					white-space: nowrap;
				}
		
				.pp_nav .pp_next,
				.pp_nav .pp_previous {
					color: #fff;
					float: left;
					height: 30px;
					position: relative;
					width: 10%;
				}
		
				.pp_nav .pp_next { border-left: 1px #000 solid; float: right; }
				.pp_nav .pp_next span {
					border-top: 5px solid transparent;
			        border-bottom: 5px solid transparent;
			        border-left: 5px solid #fff;
					display: block;
			        height: 0;
					left: 50%;
					margin: -5px 0 0 -1px;
					position: absolute;
					text-indent: -10000px;
					top: 50%;
					width: 0;
				}
		
				.pp_nav .pp_previous { border-right: 1px #000 solid; }
				.pp_nav .pp_previous span {
					border-top: 5px solid transparent;
			        border-bottom: 5px solid transparent;
			        border-right: 5px solid #fff;
					display: block;
			        height: 0;
					left: 50%;
					margin: -5px 0 0 -1px;
					position: absolute;
					text-indent: -10000px;
					top: 50%;
					width: 0;
				}
				
				.pp_nav .pp_play {
					border-top: 8px solid transparent;
			        border-bottom: 8px solid transparent;
			        border-left: 8px solid #fff;
					display: none;
					left: 50%;
					height: 0;
					position: absolute;
					text-indent: -10000px;
					width: 0;
				}
				
				.pp_nav .pp_pause {
			        border-left: 2px solid #fff;
					border-bottom: 0;
					border-right: 2px solid #fff;
					border-top: 0;
					height: 15px;
					width: 5px;
				}
				
				.pp_nav .pp_paging {
					left: 50%;
					position: absolute;
					top: 18px;
				}
				
					.pp_nav .pp_paging li {
						float: left;
						margin: 0 5px 0 0;
					}
				
					.pp_nav .pp_paging a {
						background: #fff;
						display: block;
						font-size: 0;
						height: 7px;
						position: relative;
						width: 7px;
						
						border-radius: 7px;
					}
					
					.pp_nav .pp_paging li.selected a {
						background: black;
					}
					
				.pp_nav .pp_progress {
					border: 1px #fff solid;
					height: 5px;
					left: 50%;
					overflow: hidden;
					position: absolute;
					top: 0;
					width: 50%;
				}
				
				.pp_nav .pp_progress_done {
					background: red;
					display: block;
					height: 5px;
					left: 0;
					position: absolute;
					top: 0;
					width: 0%;
				}
		
	.pp_loader {
		display: block;
		height: 24px;
		left: 50%;
		margin: -12px 0 0 -12px;
		position: absolute;
		top: 50%;
		width: 24px;
	}
	
	.pp_tooltip	{
		display: block;
		height: 40px;
		left: -20px;
		position: absolute;
		top: -50px;
		width: 40px;
	}
	
		.pp_tooltip img {
			height: 100%;
			width: 100%;
		}
	
	.pp_social {
		background: white;
		display: block;
		float: left;
		height: 10px;
		width: 10px;
	}

/* ------------------------------------------------------------------------
	Rich media object positioning
------------------------------------------------------------------------- */

	.youtube .pp_nav,
	.vimeo .pp_nav,
	.iframe .pp_nav,
	.quicktime .pp_nav,
	.flash .pp_nav {
		bottom: -35px;
	}
	
	.youtube .pp_header,
	.vimeo .pp_header,
	.iframe .pp_header,
	.quicktime .pp_header,
	.flash .pp_header {
		top: -40px;
	}
	
	/* iPads (landscape) ----------- */
	@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px)
	and (orientation : landscape) {

		
	}

	/* iPads (portrait) ----------- */
	@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px)
	and (orientation : portrait) {
	/* Styles */
	}